<html>
<head>
<title>My self</title>
</head>
<body>
<h1 style="color:blue; font-size="45px;"> S.D Tharushi Navodya
</h1>

<p style="background-color: yellow; padding: 10px; margin:10px;border:4px double red;"> My name is S.D Tharushi Navodya. <br>I am from Colombo.</p>

<p style="background-color: grey; padding: 15px; "> I am a student at university vavuniya</p>
</body>






</html>
